<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
<Force_AlignmentGain>Gain Darkside/Lightside Attunement based on certain actions</Force_AlignmentGain>
<Force_DarksideOnKill>Alignment System</Force_DarksideOnKill>
<Force_UsePsycastStat>Use Psychic Sensitivity </Force_UsePsycastStat>
<Force_PsycastStat>Should Psychic Sensitivity be calculated for Force Push and Repulse? </Force_PsycastStat>
<Force_offSetMultiplier>Offset Multiplier </Force_offSetMultiplier>
<Force_Spin_Rate>Lightsaber Spin Rate </Force_Spin_Rate>
<Force_Entropy_Gain>Entropy Gain on Deflection ( Projectile Speed / Entropy Gain Value) </Force_Entropy_Gain>
<Force_DropChance>Kyber crystal drop chance when cutting stone blocks </Force_DropChance>
<Force_ResettoDefault>Reset to Default </Force_ResettoDefault>
<StarWars_TheForce>Star Wars : The Force</StarWars_TheForce>
<Force.LightsaberGlow>Lightsaber Glow?</Force.LightsaberGlow>
<Force.LightsaberGlowDesc>Should a glow be drawn for drafted pawns?</Force.LightsaberGlowDesc>
<Force_DeflectionChance>Deflection Chance Multiplier</Force_DeflectionChance><Force.LightsaberRealGlow>Real Glow</Force.LightsaberRealGlow>
<Force.LightsaberFakeGlow>Fake Glow</Force.LightsaberFakeGlow>
<Force.LightsaberRealGlowDesc>Real Glow - Uses the in game lighting system. Can impact performance, looks better.</Force.LightsaberRealGlowDesc>
<Force.LightsaberFakeGlowDesc>Fake Glow - Uses a texture to simulate a fake glow, Low performance impact, not as high quality</Force.LightsaberFakeGlowDesc>
<Force_GlowRadius>Radius of the Glow</Force_GlowRadius>
<Force.DeflectionSpin>Spinning Deflection?</Force.DeflectionSpin>
<Force.DeflectionSpinDesc>Whether or not the Lightsaber spins when deflecting projectiles.</Force.DeflectionSpinDesc>
<Force.CustomStance>Custom Stance System.</Force.CustomStance>
<Force.CustomStanceDesc>Enables the custom stance system within the stance gizmo. Allows manually adjusting angles and offsets WARNING! NOT FULLY TESTED MAY CAUSE INDEX OUT OF BOUNDS ERROR WHEN CLICKING GIZMO, TO FIX CLICK RESET</Force.CustomStanceDesc>
</LanguageData>